<!DOCTYPE html>
<html lang="ru" xml:lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    <link rel="icon" href="/static/images/logo.png">
  -->
  <title>{% block title %}{% endblock %}</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/css/page_template.css" rel="stylesheet">
  {% block styles %}{% endblock %}
</head>

<body>

  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">Farado</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="/logout">Log out</a>
      </div>
    </div>
  </header>

  <div class="container-fluid">
    <div class="row">

      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">

            <li class="nav-item">
              <a  {% if active_menu == 'projects' -%}
                    class="nav-link active" aria-current="page"
                  {%- else -%}
                    class="nav-link"
                  {%- endif %}
                  href="/projects">
                Projects
              </a>
            </li>

            <li class="nav-item">
              <a  {% if active_menu == 'issues' -%}
                    class="nav-link active" aria-current="page"
                  {%- else -%}
                    class="nav-link"
                  {%- endif %}
                  href="/issues">
                Issues
              </a>
            </li>

            <li class="nav-item">
              <a  {% if active_menu == 'board' -%}
                    class="nav-link active" aria-current="page"
                  {%- else -%}
                    class="nav-link"
                  {%- endif %}
                  href="/board">
                Board
              </a>
            </li>

            <li class="nav-item">
              <a  {% if active_menu == 'roadmap' -%}
                    class="nav-link active" aria-current="page"
                  {%- else -%}
                    class="nav-link"
                  {%- endif %}
                  href="/roadmap">
                Roadmap
              </a>
            </li>

          </ul>

          {% if restriction.is_admin %}
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Administration</span>
            </h6>

            <ul class="nav flex-column mb-2">

              <li class="nav-item">
                <a  {% if active_menu == 'users' -%}
                    class="nav-link active" aria-current="page"
                  {%- else -%}
                    class="nav-link"
                  {%- endif %}
                  href="/users">
                  Users
                </a>
              </li>

              <li class="nav-item">
                <a  {% if active_menu == 'roles' -%}
                      class="nav-link active" aria-current="page"
                    {%- else -%}
                      class="nav-link"
                    {%- endif %}
                    href="/roles">
                  Roles
                </a>
              </li>

              <li class="nav-item">
                <a  {% if active_menu == 'workflows' -%}
                      class="nav-link active" aria-current="page"
                    {%- else -%}
                      class="nav-link"
                    {%- endif %}
                    href="/workflows">
                  Workflows
                </a>
              </li>

              <li class="nav-item">
                <a  {% if active_menu == 'issue_kinds' -%}
                      class="nav-link active" aria-current="page"
                    {%- else -%}
                      class="nav-link"
                    {%- endif %}
                    href="/issue_kinds">
                  Issue kinds
                </a>
              </li>

              <li class="nav-item">
                <a  {% if active_menu == 'logs' -%}
                      class="nav-link active" aria-current="page"
                    {%- else -%}
                      class="nav-link"
                    {%- endif %}
                    href="/logs">
                  Logs
                </a>
              </li>

            </ul>
          {% endif %}

        </div>
      </nav>



      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

        <div id="wrapper" class="active">

          <!--Page content-->
          <div id="page-content-wrapper" class="main">

            <!--Operation result message-->
            {% if operation_result -%}
              <div class="modal fade"
                  id="operation_result"
                  tabindex="-1"
                  role="dialog"
                  aria-hidden="true">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header alert-{{ operation_result.kind }}">
                      <h5 class="modal-title">{{ operation_result.caption }}</h5>
                    </div>
                    {% if operation_result.text %}
                      <div class="modal-body alert-{{ operation_result.kind }}">
                        {{ operation_result.text}}
                      </div>
                    {% endif %}
                    <div class="modal-footer alert-{{ operation_result.kind }}">
                      <button type="button" class="btn btn-dark btn-sm" data-bs-dismiss="modal">Ok</button>
                    </div>
                  </div>
                </div>
              </div>
            {%- endif %}
            <!--/Operation result message-->

            <nav aria-label="breadcrumb">
              {% block breadcrumb %}{% endblock %}
            </nav>

            <div class="page-content inset">
              {%- block content %}{% endblock -%}
            </div>

          </div>
          <!--/Page content-->

        </div>
        <!--/wrapper-->

      </main>

    </div>
    <!--/row-->
  </div>
  <!--/container-fluid-->

  <script src="/static/js/jquery-3.6.0.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script>
    var document_ready_function;
    $(document).ready(function() {
      {% if operation_result %}$('#operation_result').modal('show');{% endif %}

      if (document_ready_function instanceof Function) {
        document_ready_function();
      }
    });
  </script>
  {% block scripts %}{% endblock %}

</body>

</html>