{% extends "base_template.html.j2" %}



{% block title %}Farado — Logs{% endblock %}

{% set active_menu = 'logs' %}


{% block styles %}
  <!--
    <link href="/static/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
  -->
{% endblock %}


{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Logs</li>
  </ol>
{% endblock %}


{% block content %}

  <h2 class="page-header">
    Logs
  </h2>

  <div class="row placeholders">
    <div class="col-12">
      <textarea
        readonly
        class="form-control rounded-0"
        rows="20"
        style="font-family:monospace;white-space: pre;overflow-wrap: normal;overflow-x: scroll;">{{ log_data }}</textarea>
    </div>
  </div>
{% endblock %}



{% block scripts %}
  <script>
  </script>
{% endblock %}
