{% extends "base_template.html" %}
{% import "base_macros.html" as macros %}
{% import "macros/file_input.html" as FILE_INPUT %}



{% block title %}Farado — New issue{% endblock %}

{% set active_menu = 'issues' %}
{% set value_types = project_manager.value_types() %}


{% block styles %}
  {{ FILE_INPUT.STYLES() }}
{% endblock %}


{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/issues">Issues</a></li>
    <li class="breadcrumb-item active" aria-current="page">New issue</li>
  </ol>
{% endblock %}


{% block content %}

  <h2 class="page-header">New issue</h2>

  <div class="row placeholders">
    <form class="row g-3" action="/issues/issue" method="post" enctype="multipart/form-data">
      <input type="hidden" name="issue_kind_id" value="{{ new_issue.issue_kind_id }}">
      <input type="hidden" name="issue_parent_id" value="{{ new_issue.parent_id }}">
      <input type="hidden" name="issue_state_id" value="{{ new_issue.state_id }}">

      <!-- Issue.project_id -->
      <div class="col-12">
        <label for="textareaDescription" class="form-label">Project</label>
        {{ macros.select(
              'issue_project_id',
              project_manager.projects(),
              new_issue.project_id ) }}
      </div>

      <!-- Issue.caption -->
      <div class="col-12">
        <label for="inputCaption" class="form-label">Caption</label>
        <input type="text" name="issue_caption" class="form-control" id="inputCaption" value="" required>
      </div>

      <!-- Issue.content -->
      <div class="col-12">
        <label for="contentTab" class="form-label">Content</label>
        {{ macros.markdown_textarea(
              'contentTab',
              'issue_content_result',
              'issue_content',
              '' ) }}
        <script>
          document_ready_functions.push(function() {
            {{ macros.tab_switcher_document_ready_part('contentTab') }};
          });
        </script>
      </div>

      <!-- Issue.fields -->
      {% for field in new_issue.fields %}
        <div class="col-12">
          {% set field_kind = project_manager.field_kind(field.field_kind_id) %}
          {% if field_kind %}
            <div class="form-group row">
              <label
                  for="inputField_{{ field_kind.id }}"
                  class="col-sm-2 col-form-label">{{ field_kind.caption }}</label>

              <div class="col-sm-10">
                {% if value_types.string == field_kind.value_type %}
                  <input
                      type="text"
                      name="field_kind_{{ field_kind.id }}"
                      class="form-control"
                      id="inputField_{{ field_kind.id }}">
                {% elif value_types.markdown_text == field_kind.value_type %}
                  {{ macros.markdown_textarea(
                        'inputField_' + field_kind.id | string + '',
                        'field_kind_' + field_kind.id | string + '_result',
                        'field_kind_' + field_kind.id | string,
                        '' ) }}
                  <script>
                    document_ready_functions.push(function() {
                      {{ macros.tab_switcher_document_ready_part(
                            'inputField_' + field_kind.id | string ) }};
                    });
                  </script>
                {% elif value_types.integer == field_kind.value_type %}
                  <!--TODO: integer numbers only-->
                  <input
                      type="number"
                      name="field_kind_{{ field_kind.id }}"
                      class="form-control"
                      id="inputField_{{ field_kind.id }}">
                {% elif value_types.float == field_kind.value_type %}
                  <input
                      type="number"
                      name="field_kind_{{ field_kind.id }}"
                      class="form-control"
                      id="inputField_{{ field_kind.id }}">
                {% elif value_types.bool == field_kind.value_type %}
                  <div class="form-check form-switch">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        role="switch"
                        id="inputField_{{ field_kind.id }}"
                        name="field_kind_{{ field_kind.id }}">
                  </div>
                {% elif value_types.date_time == field_kind.value_type %}
                  <!--TODO: bootstrap datetimepicker-->
                  <input
                      type="datetime-local"
                      name="field_kind_{{ field_kind.id }}"
                      class="form-control"
                      id="inputField_{{ field_kind.id }}">
                {% elif value_types.uri == field_kind.value_type %}
                  <input
                      type="url"
                      name="field_kind_{{ field_kind.id }}"
                      class="form-control"
                      id="inputField_{{ field_kind.id }}">
                {% elif value_types.issue_id == field_kind.value_type %}
                  <!--TODO: search by issue id and caption-->
                  <input
                      type="number"
                      name="field_kind_{{ field_kind.id }}"
                      class="form-control"
                      id="inputField_{{ field_kind.id }}">
                {% elif value_types.user_id == field_kind.value_type %}
                  <!--TODO: search by user id and caption-->
                  <input
                      type="number"
                      name="field_kind_{{ field_kind.id }}"
                      class="form-control"
                      id="inputField_{{ field_kind.id }}">
                {% elif value_types.project_id == field_kind.value_type %}
                  <!--TODO: search by project id and caption-->
                  <input
                      type="number"
                      name="field_kind_{{ field_kind.id }}"
                      class="form-control"
                      id="inputField_{{ field_kind.id }}">
                {% endif %}
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}

      <hr/>

      <div class="col-12">
        <!-- Issue.files -->
        {{ FILE_INPUT.INPUT('issue_files_editor', 0) }}
        <script>
          document_ready_functions.push(function() {
            $("#issue_files_editor").fileinput({
              previewFileType: 'any',
              overwriteInitial: false,
              showUpload: false,
            });
          });
        </script>
      </div>

      <div class="col-12">
        <button type="submit" id="saveButton" class="btn btn-primary">Save</button>
      </div>

      <hr/>

    </form>
  </div>
{% endblock %}



{% block scripts %}
  {{ FILE_INPUT.SCRIPTS() }}
  {{ macros.markdown_textarea_script() }}
{% endblock %}
