<!DOCTYPE html>
<html lang="ru" xml:lang="ru">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    <link rel="icon" href="/static/images/logo.png">
  -->
  <title>{% block title %}{% endblock %}</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
  {% block styles %}{% endblock %}
</head>

<body>

  <!--Main menu panel-->
  <nav class="navbar navbar-inverse navbar-fixed-top hidden-print">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> Farado</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> {{ user.login }} </a></li>
          <li><a href="/logout"><span class="glyphicon glyphicon-off"></span> Logout </a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/Main menu panel-->

  <div class="container-fluid">
    <div class="row">
      <div id="wrapper" class="active">

        <!--Admin menu panel-->
          <div id="sidebar-wrapper" class="hidden-print">
            <ul class="sidebar-nav" id="sidebar">
              <li>
                <a href="/users">Users<span class="sub_icon glyphicon glyphicon-user"></span></a>
              </li>
            </ul>
            <ul class="sidebar-nav" id="sidebar">
              <li>
                <a href="/config">Config <span class="sub_icon glyphicon glyphicon-cog"></span></a>
              </li>
              <li>
                <a href="/logs">Logs <span class="sub_icon glyphicon glyphicon-info-sign"></span></a>
              </li>
            </ul>
          </div>
        <!--/Admin menu panel-->


        <!--Page content-->
        <div id="page-content-wrapper" class="main">
          <div class="page-content inset">
            {%- block content %}{% endblock -%}
          </div>
        </div>
        <!--/Page content-->

      </div>
      <!--/wrapper-->
    </div>
    <!--/row-->
  </div>
  <!--/container-fluid-->

  <script src="/static/js/jquery-3.6.0.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  {% block scripts %}{% endblock %}

</body>

</html>