{% extends "base_template.html" %}



{% block title %}Farado — Projects{% endblock %}

{% block projects_active %}active{% endblock %}


{% block styles %}
  <link href="/static/css/datatables.min.css" rel="stylesheet" type="text/css" />
  <link href="/static/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}

  <h2 class="page-header">
    Projects
    {% if restriction.is_create_enabled %}
      <form action="/projects/add_project" method="post">
        <button class="btn btn-sm btn-dark" type="submit">+</button>
      </form>
    {% endif %}
  </h2>

  {% if operation_result -%}
    <div class="alert alert-{{ operation_result.kind }} alert-dismissible" role="alert">
      {{- operation_result.caption -}}
    </div>
  {%- endif %}

  <div class="row placeholders">

    <table class="table" id="projects_table">
      <thead>
        <tr>
          <th scope="col" style="width: 1%">Id</th>
          <th scope="col">Caption</th>
          <th scope="col" style="width: 1%"></th>
        </tr>
      </thead>
    </table>

  </div>
{% endblock %}



{% block scripts %}
<script src="/static/js/datatables.min.js"></script>
<script src="/static/js/dataTables.bootstrap5.min.js"></script>

<script>
$(document).ready(function() {
  $('#projects_table').DataTable({
    "processing": true,
    "serverSide": true,
    "ajax": "projects_data",
    "searching": false,
    "ordering": false,
    "columns": [
      {
          data: 'id'
      },
      {
          data: 'caption',
          render: function(data, type, row) {
            if (type !== 'display') {
              return data;
            }
            if (data === 'false') {
              return '';
            }
            return '<a href="/projects/project?target_project_id=' + row.id + '" title="Modify project">' + data + '</a>';
          }
      },
      {
          data: 'management',
          render: function(data, type, row) {
            if (type !== 'display') {
              return data;
            }
            if (!data) {
              return '';
            }
            return '<a href="/projects/remove_project?target_project_id=' + row.id + '" title="Remove project"><span class="badge bg-danger">x</span></a>';
          }
      }
    ]
  });
});
</script>
{% endblock %}
