{% extends "base_template.html.j2" %}
{% import "base_macros.html.j2" as macros %}



{% block title %}Farado — Project{% endblock %}

{% set active_menu = 'projects' %}


{% block styles %}
  <!--
    <link href="/static/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
  -->
{% endblock %}


{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ target_project.caption }} [{{ target_project.id }}]</li>
  </ol>
{% endblock %}


{% block content %}

  <h2 class="page-header">{{ target_project.caption }}</h2>

  <div class="row">

    <div class="col">
      <!--reserved-->
    </div>

    <!-- Project view/edit switch -->
    <div class="col">
      <ul class="nav nav-pills mb-3 justify-content-end" id="pillsTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
              class="nav-link active"
              id="pills-view-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-view"
              type="button"
              role="tab"
              aria-controls="pills-view"
              aria-selected="true">View</button>
        </li>
        <li class="nav-item" role="presentation">
          <button
              class="nav-link {% if not restriction.is_save_enabled %}disabled{% endif %}"
              id="pills-edit-tab"
              data-bs-toggle="pill"
              data-bs-target="#pills-edit"
              type="button"
              role="tab"
              aria-controls="pills-edit"
              {% if not restriction.is_save_enabled %}disabled{% endif %}
              aria-selected="false">Edit</button>
        </li>
      </ul>
    </div>
  </div>

  <div class="row placeholders">
    <div class="tab-content" id="pillsTabContent">
      <!-- VIEW -->
      <div
          class="tab-pane fade show active"
          id="pills-view"
          role="tabpanel"
          aria-labelledby="pills-view-tab">

        <!-- Project.content -->
        <div class="col-12">
          <div id="contentView"></div>
        </div>
      </div>

      <!-- EDIT -->
      <div
          class="tab-pane fade"
          id="pills-edit"
          role="tabpanel"
          aria-labelledby="pills-edit-tab">

        <form class="row g-3" action="/projects/project/{{ target_project.id }}" method="post">

          <!-- Project.caption -->
          <div class="col-12">
            <label for="inputCaption" class="form-label">Caption</label>
            <input type="text" name="target_project_caption" class="form-control" id="inputCaption" value="{{ target_project.caption }}" required>
          </div>

          <!-- Project.content -->
          <div class="col-12">
            <label for="contentTab" class="form-label">Content</label>
            {{ macros.markdown_textarea(
                  'contentTab',
                  'target_project_content_result',
                  'target_project_content',
                  target_project.content ) }}
          </div>

          {% if restriction.is_save_enabled %}
            <div class="col-12">
              <button type="submit" id="saveButton" class="btn btn-primary">Save</button>
            </div>
          {% endif %}

        </form>
      </div>
    </div>

  </div>
{% endblock %}



{% block scripts %}
{{ macros.markdown_textarea_script() }}

<script>
document_ready_function = function() {
  {{ macros.tab_switcher_document_ready_part('pillsTab') }}
  {{ macros.tab_switcher_document_ready_part('contentTab') }}

  markdownToHtml('target_project_content', 'contentView');
  markdownToHtml('target_project_content', 'target_project_content_result');
}
</script>
{% endblock %}
