{% extends "page_template.html" %}



{% block title %}Farado — Project{% endblock %}

{% block projects_active %}active{% endblock %}


{% block styles %}
  <!--
    <link href="/static/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
  -->
{% endblock %}


{% block content %}

  <h2 class="page-header">Project</h2>

  {% if operation_result -%}
    <div class="alert alert-{{ operation_result.kind }} alert-dismissible" role="alert">
      {{- operation_result.caption -}}
    </div>
  {%- endif %}

  <div class="row placeholders">
    <form class="row g-3" action="/projects/project" method="post">
      <div class="col-12">
        <label for="inputId" class="form-label">Id</label>
        <input type="text" name="target_project_id" class="form-control" id="inputId" value="{{ target_project.id }}" readonly>
      </div>
      <div class="col-12">
        <label for="inputLogin" class="form-label">Caption</label>
        <input type="text" name="target_project_caption" class="form-control" id="inputCaption" value="{{ target_project.caption }}" required>
      </div>
      <div class="col-12">
        <label for="inputEmail" class="form-label">Content</label>
        <textarea name="target_project_content" class="form-control" id="textareaContent" rows="9">{{ target_project.content }}</textarea>
      </div>

      {% if restriction.is_save_enabled %}
        <div class="col-12">
          <button type="submit" id="saveButton" class="btn btn-primary">Save</button>
        </div>
      {% endif %}

    </form>
  </div>
{% endblock %}



{% block scripts %}
  <script>
  </script>
{% endblock %}
