{% extends "base_template.html" %}



{% block title %}Farado — Roles{% endblock %}

{% block roles_active %}active{% endblock %}


{% block styles %}
  <!--
    <link href="/static/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
  -->
{% endblock %}


{% block content %}

  <h2 class="page-header">
    Roles
    <form action="/roles/add_role" method="post">
      <button class="btn btn-sm btn-dark" type="submit">+</button>
    </form>
  </h2>

  {% if operation_result -%}
    <div class="alert alert-{{ operation_result.kind }} alert-dismissible" role="alert">
      {{- operation_result.caption -}}
    </div>
  {%- endif %}

  <div class="row placeholders">

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col" style="width: 1%">Id</th>
          <th scope="col">Caption</th>
          <th scope="col" style="width: 1%"></th>
        </tr>
      </thead>
      <tbody>
        {% for role in project_manager.roles() %}
        <tr>
          <th scope="row">{{ role.id }}</th>
          <td>
            <a href="/roles/role?target_role_id={{ role.id }}" title="Modify role">{{ role.caption }}</a>
          </td>
          <td>
            <a href="/roles/remove_role?target_role_id={{ role.id }}" title="Remove role">
              <span class="badge bg-danger">x</span>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}



{% block scripts %}
  <script>
  </script>
{% endblock %}
