{% extends "base_template.html" %}



{% block title %}Farado — Users{% endblock %}

{% set active_menu = 'users' %}


{% block styles %}
  <!--
    <link href="/static/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
  -->
{% endblock %}


{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Users</li>
  </ol>
{% endblock %}


{% block content %}

  <h2 class="page-header">
    Users
    <a href="/users/add_user" class="btn btn-sm btn-outline-dark" role="button" aria-pressed="true">+</a>
  </h2>

  <div class="row placeholders">

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col" style="width: 1%">Id</th>
          <th scope="col">Login</th>
          <th scope="col">First name</th>
          <th scope="col">middle_name</th>
          <th scope="col">last_name</th>
          <th scope="col">email</th>
          <th scope="col">need_change_password</th>
          <th scope="col">is_blocked</th>
          <th scope="col">online_state</th>
          <th scope="col" style="width: 1%"></th>
        </tr>
      </thead>
      <tbody>
        {% for user in project_manager.users %}
        <tr>
          <th scope="row">{{ user.id }}</th>
          <td>
            <a href="/users/user?target_user_id={{ user.id }}" title="Modify user">{{ user.login }}</a>
          </td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.middle_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.need_change_password }}</td>
          <td>{{ user.is_blocked }}</td>
          <td>{{ user.online_state }}</td>
          <td>
            <a href="/users/remove_user?target_user_id={{ user.id }}" title="Remove user">
              <span class="badge bg-danger">x</span>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}



{% block scripts %}
  <script>
  </script>
{% endblock %}
