{% extends "base_template.html" %}



{% block title %}Farado — User{% endblock %}

{% block users_active %}active{% endblock %}


{% block styles %}
  <!--
    <link href="/static/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
  -->
{% endblock %}


{% block content %}

  <h2 class="page-header">User</h2>

  {% if operation_result -%}
    <div class="alert alert-{{ operation_result.kind }} alert-dismissible" role="alert">
      {{- operation_result.caption -}}
    </div>
  {%- endif %}

  <div class="row placeholders">
    <form class="row g-3" action="/users/user" method="post">
      <div class="col-12">
        <label for="inputId" class="form-label">Id</label>
        <input type="text" name="target_user_id" class="form-control" id="inputId" value="{{ target_user.id }}" readonly>
      </div>
      <div class="col-md-6">
        <label for="inputLogin" class="form-label">Login</label>
        <input type="text" name="target_user_login" class="form-control" id="inputLogin" value="{{ target_user.login }}" required>
      </div>
      <div class="col-md-6">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="text" name="target_user_email" class="form-control" id="inputEmail" value="{{ target_user.email }}">
      </div>
      <div class="col-md-4">
        <label for="inputFirstName" class="form-label">First name</label>
        <input type="text" name="target_user_first_name" class="form-control" id="inputFirstName" value="{{ target_user.first_name }}">
      </div>
      <div class="col-md-4">
        <label for="inputMiddleName" class="form-label">Middle name</label>
        <input type="text" name="target_user_middle_name" class="form-control" id="inputMiddleName" value="{{ target_user.middle_name }}">
      </div>
      <div class="col-md-4">
        <label for="inputLastName" class="form-label">Last name</label>
        <input type="text" name="target_user_last_name" class="form-control" id="inputLastName" value="{{ target_user.last_name }}">
      </div>
      <div class="col-md-6">
        <label for="inputPassword" class="form-label">Password</label>
        <input type="password" name="target_user_password" class="form-control" id="inputPassword" {% if not target_user %}required{% endif %}>
      </div>
      <div class="col-md-6">
        <label for="inputConfirmPassword" class="form-label">Confirm password</label>
        <input type="password" class="form-control" id="inputConfirmPassword">
        <span class="badge bg-warning text-dark" id="confirmPasswordMessage"></span>
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" name="target_user_need_change_password" type="checkbox" id="checkNeedChangePassword" {% if target_user.need_change_password %}checked{% endif %} >
          <label class="form-check-label" for="checkNeedChangePassword">
            Need change password
          </label>
        </div>
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" name="target_user_is_blocked" type="checkbox" id="checkIsBlocked" {% if target_user.is_blocked %}checked{% endif %} >
          <label class="form-check-label" for="checkIsBlocked">
            Blocked
          </label>
        </div>
      </div>
      
      <div class="col-12">
        <button type="submit" id="saveButton" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>

  {% if target_user %}
    <div class="row placeholders">
      <div class="col-12">
        <hr>
        <h5 class="page-header">
          Roles
        </h5>
      </div>

      <div class="col-12">
        <form action="/users/add_user_role" method="post">
          <div class="btn-toolbar">
            <div class="btn-group">
              <select class="form-select form-select-sm" name="target_role_id">
                <option value="0">—</option>
                {% for role in project_manager.roles() %}
                  <option value="{{role.id}}">
                    {{ role.caption }}
                  </option>
                {% endfor %}
              </select>
              <input type="hidden" name="target_user_id" value="{{ target_user.id }}">
            </div>
            <div class="btn-group">
              <button type="submit" id="saveButton" class="btn btn-sm btn-dark">+</button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-12">
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Role</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for user_role in project_manager.user_roles_by_user(target_user.id) %}
            <tr>
              <th scope="row">{{ user_role.id }}</th>
              <td>
                {{ project_manager.role(user_role.role_id).caption }}</a>
              </td>
              <td>
                <a href="/users/remove_user_role?target_user_role_id={{ user_role.id }}&target_user_id={{ target_user.id }}"
                  title="Remove user role">
                  <span class="badge bg-danger">x</span>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}

{% endblock %}



{% block scripts %}
  <script>
    // Confirm password validator
    $('#inputPassword, #inputConfirmPassword').on('keyup', function () {
      if ($('#inputPassword').val() == $('#inputConfirmPassword').val()) {
        $('#confirmPasswordMessage').html('');
        $('#saveButton').prop('disabled', false);
      } else {
        $('#confirmPasswordMessage').html('Passwords do not match');
        $('#saveButton').prop('disabled', true);
      }
    });
  </script>
{% endblock %}
