{% extends "page_template.html" %}



{% block title %}Farado — Users{% endblock %}

{% block users_active %}active{% endblock %}


{% block styles %}
  <!--
    <link href="/static/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
  -->
{% endblock %}


{% block content %}

  <h2 class="page-header">Users</h2>

  <div class="row placeholders">

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Login</th>
          <th scope="col">First name</th>
          <th scope="col">middle_name</th>
          <th scope="col">last_name</th>
          <th scope="col">email</th>
          <th scope="col">need_change_password</th>
          <th scope="col">is_blocked</th>
          <th scope="col">online_state</th>
        </tr>
      </thead>
      <tbody>
        {% for user in project_manager.users %}
        <tr>
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.login }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.middle_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.need_change_password }}</td>
          <td>{{ user.is_blocked }}</td>
          <td>{{ user.online_state }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}



{% block scripts %}
  <script>
  </script>
{% endblock %}
