{% extends "base_template.html.j2" %}



{% block title %}Farado — Workflows{% endblock %}

{% set active_menu = 'workflows' %}


{% block styles %}
  <!--
    <link href="/static/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
  -->
{% endblock %}


{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Workflows</li>
  </ol>
{% endblock %}


{% block content %}

  <h2 class="page-header">
    Workflows
    <a href="/workflows/add_workflow" class="btn btn-sm btn-outline-dark" role="button" aria-pressed="true">+</a>
  </h2>

  <div class="row placeholders">

    <table class="table">
      <thead class="table-dark">
        <tr>
          <th scope="col" style="width: 1%">Id</th>
          <th scope="col">Caption</th>
          <th scope="col" style="width: 1%"></th>
        </tr>
      </thead>
      <tbody>
        {% for workflow in project_manager.workflows() %}
        <tr>
          <th scope="row">{{ workflow.id }}</th>
          <td>
            <a href="/workflows/workflow?target_workflow_id={{ workflow.id }}" title="Modify workflow">{{ workflow.caption }}</a>
          </td>
          <td>
            <a href="/workflows/remove_workflow?target_workflow_id={{ workflow.id }}" title="Remove workflow">
              <span class="badge bg-danger">x</span>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}



{% block scripts %}
  <script>
  </script>
{% endblock %}
