{#
  Item required properties:
  * item.id
  * item.caption
#}
{% macro INPUT(name, items, selected_id=None, need_zero_value=True) -%}
  <select
      class="form-select form-select-sm"
      name="{{ name }}"
      id="{{ name }}">

    {%- if need_zero_value -%}
      <option value="0">—</option>
    {%- endif -%}

    {%- for item in items -%}
      <option
          value="{{ item.id }}"
          {% if item.id == selected_id %}selected{% endif %}>
        {{ item.caption }}
      </option>
    {%- endfor -%}

  </select>
{%- endmacro %}
